@import "../../css/colors.css";
@import "../../css/units.css";

.code-editor-outer {
    /* For vertical scrolling */
    display: flex;
    flex-direction: column;
}

.code-editor {
    /* For vertical scrolling */
    height: 0;
    min-height: 0;
    flex-grow: 1;
    /* For horizontal scrolling */
    display: flex;

    overflow: hidden;
    border-top-right-radius: calc($space - 1px);
    color: $text-primary;
}

.code-editor :global(.cm-editor) {
    /* For horizontal scrolling */
    width: 0;
    min-width: 0;
    flex-grow: 1;
    /* Remove focus outline */
    outline: none;
}

.code-editor :global(.cm-scroller) {
    overflow: auto;
}

.code-editor :global(.cm-gutters) {
    background-color: transparent;
    border-right: 1px solid $ui-black-transparent;
    color: $text-primary-transparent;
    user-select: none;
}

.code-editor :global(.cm-selectionBackground) {
    background-color: $ui-black-transparent;
}

.code-editor :global(.cm-editor.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground) {
    background-color: $selection;
}

.code-editor :global(.cm-cursor) {
    border-left-color: $text-primary;
}

.code-editor :global(.cm-tooltip) {
    overflow: hidden; /* prevent scrollbar and selected item from covering rounded corner */
    background-color: $ui-white-bg;
    border: 1px solid $ui-black-transparent;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem 1px $ui-black-transparent;
    color: $text-primary;
}

.code-editor :global(.cm-tooltip-autocomplete) ul li {
    position: relative;
}

.code-editor .tab-hint {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    padding: 1px 3px;
    background-color: $motion-accent;
    color: $text-on-accent;
}

.code-editor :global(.cm-tooltip-autocomplete) ul li[aria-selected] {
    background-color: $selection;
    color: $text-primary;
}

.code-editor :global(.cm-tooltip-autocomplete) ul li[aria-selected] .tab-hint {
    display: block;
}

.code-editor :global(.cm-panels) {
    background-color: $ui-white-bg;
    color: $text-primary;
    user-select: none;
}

.code-editor :global(.cm-panels-bottom) {
    border-top: 1px solid $ui-black-transparent;
}

.code-editor :global(.cm-panel.cm-search) label {
    font-size: 0.75rem;
    cursor: pointer;
}

.code-editor :global(.cm-panel.cm-search) input[type="checkbox"] {
    vertical-align: middle;
    cursor: pointer;
}

.code-editor :global(.cm-panel.cm-search) [name="close"] {
    color: $text-primary;
    cursor: pointer;
}

.code-editor :global(.cm-textfield) {
    background-color: $input-field;
    border-color: $ui-black-transparent;
    border-radius: 0.25rem;
    font-family: inherit;
    font-size: 0.75rem;
    transition: border-color 0.25s ease-out,
        box-shadow 0.25s ease-out;
}

.code-editor :global(.cm-textfield):focus {
    outline: none;
    border-color: $motion-accent;
    box-shadow: 0 0 0 2px $motion-transparent;
}

.code-editor :global(.cm-textfield)::placeholder {
    color: $text-primary-transparent;
    opacity: 1;
}

.code-editor :global(.cm-button) {
    background-color: $motion-transparent;
    background-image: none;
    border-color: $ui-black-transparent;
    border-radius: 0.25rem;
    color: $text-on-transparent-accent;
    font-family: inherit;
    font-size: 0.75rem;
    cursor: pointer;
}

.code-editor :global(.cm-button):active {
    background-color: $ui-black-transparent;
    background-image: none;
}

.code-editor :global(.cm-button):focus-visible {
    outline: 1px solid $motion-accent;
    outline-offset: 1px;
}
