@import "../../css/colors.css";

.data-panel {
    width: 250px;
    height: 0; /* for scrolling */
    min-height: 100%;
    padding: 0.75rem;
    overflow-y: auto;
    background-color: $ui-secondary;
    font-size: 0.75rem;
}

.header {
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
    font-weight: bold;
    user-select: none;
}

.new-button-container {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    width: fit-content;
    background-color: $ui-white-bg;
    border-radius: 0.25rem;
}

.new-button {
    height: 2rem;
    padding: 0 0.75rem;
    background-color: $ui-white-bg;
    border: 1px solid $ui-black-transparent;
    border-radius: 0.25rem;
    color: $text-primary;
    font: inherit;
    cursor: pointer;
    user-select: none;
}

.new-button:active {
    background-color: $motion-transparent;
}

.variable-list-title {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
    user-select: none;
}

.variable-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.variable-list-item {
    display: flex;
    align-items: center;
    position: relative;
    font-family: monospace;
    font-size: initial;
    line-height: 1.4;
}

.variable-list-item.variable {
    color: $variable-accent;
}

.variable-list-item.list {
    color: $list-accent;
}

.checkbox {
    margin: 0;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    appearance: none;
    background-color: $ui-white-bg;
    border: 1px solid $ui-black-transparent;
    border-radius: 0.25rem;
    cursor: pointer;
}

[dir="ltr"] .checkbox {
    margin-right: 0.375rem;
}

[dir="rtl"] .checkbox {
    margin-left: 0.375rem;
}

.checkbox:checked {
    background-color: $motion-accent;
}

.checked-icon {
    display: none;
    position: absolute;
    top: calc(50% - 0.5rem);
    width: 1rem;
    height: 1rem;
    color: $text-on-accent;
    pointer-events: none;
}

[dir="ltr"] .checked-icon {
    left: 0;
}

[dir="rtl"] .checked-icon {
    right: 0;
}

.checkbox:checked + span > .checked-icon {
    display: block;
}

.variable-name {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.variable-action {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    padding: 0;
    background-color: transparent;
    border: none;
    color: $text-primary-transparent;
    cursor: pointer;
}

[dir="ltr"] .variable-action {
    margin-left: 0.25rem;
}

[dir="rtl"] .variable-action {
    margin-right: 0.25rem;
}

.variable-action-icon {
    width: 1rem;
    height: 1rem;
}
